name: Publish to PyPI

on:
  release:
    types: [ published ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Install poetry
        uses: abatilo/actions-poetry@v2.0.0
      - name: Install dependencies
        run: poetry install
      - name: Set version
        run: |
          poetry version ${GITHUB_REF##*/}
          sed -i "s/\"1.0.dev0\"/\"${GITHUB_REF##*/}\"/g" clin/__init__.py
      - name: Run linter
        run: poetry run black clin --check
      - name: Run tests
        run: poetry run pytest
      - name: Build and publish
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
        run: poetry publish --build
